/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #4e893f;
    --secondary-color: #90cd7a;
    --accent-color: #eafae7;
    --shadow-color: #E8E8E8;
}